body {
  margin: 0;
  padding: 0;
  text-align: center;
  font: 16px Arial;
}
.photo {
  margin: 4px;
  width: 150px;
  height: 150px;
  float: left;
  position: relative;
  background: #8f8f8f;
}
.photo img {
  border: none;
}
#photo_container .photo:hover .remove,
#photo_container .photo:hover .rotate {
  display: block;
  opacity: .5;
}
.remove,
.rotate {
  position: absolute;
  top: 0;
  width: 26px;
  height: 26px;
  cursor: pointer;
  display: none;
  background-color: #5f5f5f;
}
.remove {
  right: 0;
  background-image: url('img/delete.png');
}
.rotate {
  left: 0;
  background-image: url('img/rotate.png');
}
.remove:hover,
.rotate:hover {
  opacity: 1 !important;
}
#photo_add_button_wrapper {
  line-height: 150px;
  text-align: center;
  background: #ccc;
  margin-bottom: 15px;
}
#photo_add_button_wrapper:hover {
  background: #ddd;
}
#photo_add_button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  width: 150px;
  height: 150px;
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  cursor: pointer;
}
.info_parent {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  white-space: nowrap;
  text-align: center;
  z-index: 90;
}
.info_message {
  padding: 0 10px;
  background-color: #f9edbe;
  color: #222;
  border: 1px solid #f0c36d;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  font-size: 80%;
  font-weight: bold;
  text-align: left;
  display: inline-block;
}
.info_error {
  color: red;
}
#cover {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(200,200,220,.7);
}
#cover IMG {
  box-shadow: -1px 1px 10px black;
  transform: scale(.9);
  opacity: 0;
  transition: transform 600ms, opacity 600ms;
}
#cover IMG.nxt {
  transform: scale(1) !important;
  opacity: 1 !important;
}
#cover IMG.prv {
  transform: scale(1.1) !important;
  opacity: 0 !important;
}
#cover IMG.noeffect {
  transition: none;
}
#cover #prev {
  position: absolute;
  transform: scale(1);
  opacity: 1;
}